<!DOCTYPE html>
    <head>
        <title>
            Units
        </title>
</head>
<body>
    <b1>Units123</b1>

    <ul>
        {% for key, value in data_loaded.items %}
            <li>
                {{ key }}: {{ value }}
            </li>
        {% endfor %}
    </ul>
    {% load static %}
     <img src="{% static data_loaded.image %}" alt="Image of an object"
          style="filter: brightness({{ data_loaded.brightness }}) saturate({{ data_loaded.saturation }});
                  opacity: {{ data_loaded.opacity }}"
     width="{{ data_loaded.size }}%"/>
</body>
</html>