<!DOCTYPE html>
    <head>
        <title>
            Units
        </title>
</head>
<body>
    <b1>Units123</b1>

    <ul>
        {% for key, value in data_loaded.items %}
            <li>
                {{ key }}: {{ value }}
            </li>
        {% endfor %}
    </ul>
    {% load static %}
{#    {% if data_loaded.weight <= 10 %}#}
{#        <img src="{% static data_loaded.image_light %}" alt="Image of lightweight object"/>#}
{#        {%  elif data_loaded.weight <= 100 %}#}
{#        <img src="{% static data_loaded.image_middle %}" alt="Image of middle-weight object"/>#}
{#        {% else %}#}
{#        <img src="{% static data_loaded.image_heavy %}" alt="Image of heavy-weight object"/>#}
{#    {% endif %}#}
     <img src="{% static data_loaded.image %}" alt="Image of an object"/>
</body>
</html>